
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{
    padding:0;
    margin: 0;
}
body{
    background-image: url("https://farm2.staticflickr.com/1941/45181852332_eeb41ba2c9_k.jpg");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://farm1.staticflickr.com/806/40013409285_c4b4765906_k.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
 .frame{
     background: rgba(221, 242, 255, 0.8);
     font-family: 'Nanum Gothic', sans-serif;
    /* border-radius:7%; */
    margin: 10% auto;
    width: 600px;
    border: 3px solid #fff;
    text-align: center;
 }
 #city{
     font-size: 55px;
     font-weight: bold;
 }
 