

*{
    padding:0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    /* background-image: url('https://farm2.staticflickr.com/1927/31766452788_94b6c6292f_m.jpg'); */
    background-image :url('https://farm2.staticflickr.com/1927/31766452788_ef6006168c_o.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* margin-bottom: 40px; */
}
.header-wrapper{
    height: 150px;
    /* padding-top:100px; */
}
.search-input{
    margin: 0 auto;
    width: 350px;
    padding-top: 90px;
    /* display: inline-block; */
}
input {
    font-size: 38px;
    border: none;
    width : 300px;
    /* outline: none; */
    background-color: rgba(256, 256, 256, 0.5);
    color: #777;
}
#city_search::placeholder {
    font-style: italic;
}
.search-input-width {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.search-button-width {
    display :inline-block;
    width :45px;
    height: 45px;
    /* font-size: 38px; */

    vertical-align: top;
}
.search-button-width > button {
    background-color: rgba(256, 256, 256, 0.5);
    border: 0;
   
}
.search-button-width > button > ion-icon{
    font-size: 43px;
    /* padding: 0px; */
    /* background-color: rgba(256, 256, 256, 0.5); */
    color: #777;
    /* vertical-align: bottom; */
}
 .frame{
     /* background:rgba(243, 243, 243, 0.692); */
     background-color: rgba(256, 256, 256, 0.5);
    margin: 0 auto 40px auto;
    /* padding-bottom: 40px; */
    width: 800px;
    height: 480px;
    border: 1px solid #777;
    text-align: center;
    color:#111;
    box-shadow: 2px 2px #555;
    visibility: hidden;
 }
 #city{
     font-size: 45px;
     /* font-weight: bold; */
     /* display: inline-block; */
     vertical-align: middle;
     padding: 20px 0 5px 0;
     letter-spacing: 1.2px;
     text-align: left;
     /* line-height: 50px; */
 }

 #tatayoyo {
    padding-bottom: 40px;
    border: 1px solid red;
 }

#city-gps {
     display: inline-block;
     padding-bottom: 40px;
     text-align: center:
 }

#gps{
    text-align: left;
}

 #img {
     vertical-align: middle;
 }
 #temperature {
     font-size: 38px;
     display: inline-block;
     vertical-align: middle;
 }
 #celcius {
     font-size: 38px;
     color: #333;
     vertical-align: middle;
     cursor: pointer;
 }
 #farenheit {
     font-size: 18px;
     color: #777;
     vertical-align: middle;
     cursor: pointer;
 }
 .frame > ion-icon {
     font-size: 44px;
     vertical-align: top;
     color: rgb(179, 28, 2);
     padding: 30px 14px 5px 0;
 }
 i {
     color: rgb(0, 0, 0);
     /* font-size: 14px; */
 }
 .info-center-50percent > i{
     font-size: 24px;
 }
 .info-center-50percent {
     width: 40%;
     display: inline-block;
     /* vertical-align: middle; */
     padding-top: 16px;
 }
 .left {
    text-align: left;
    padding-left: 5px;
 }
 .right{
     text-align: right;
     padding-right: 5px;
 }
 .info-right > div:first-child {
     padding-right: 10px;
     width: 37%;
 }
 .info-left-date {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
 }

#timestamp {
    font-weight: bold;
}
#max-min {
    display: inline-block;
    width: 90px;
}
 /* textarea, input { outline: none; } */

 .info  {
     padding-top: 20px;
 }
 .info-left, .info-center, .info-right{
     display: inline-block;
     width: 30%;
     margin : auto 0;
     color: rgb(58, 58, 58);
 }
 #humidity, #pressure, #tMin, #tMax {
     font-style: italic;
 }
#tMax, #tMin{
    padding: 5px 0;
    display: inline-block;
    font-size: 22px;
}
 .i-thermo, .tmp {
     display: inline-block;
 }
 .i-thermo {
     font-size: 58px;
     width: 30px;
     padding-right: 5px;
 }
 .temp {
     display: inline-block;
     width: 220px;
     text-align: left;
 }
 .tmp {
    width: 80px;
 }
.wi-sunrise {
    color: rgb(184, 157, 4);
}
.wi-sunset {
    color: rgb(187, 38, 1);
}
.wi-humidity {
    color: blue;
}
.wi-wind {
    color: blue;
}
.wi-thermometer {
    color : rgb(187, 38, 1);
}

footer > div:first-child {
    margin: 25px 10px 0 10px;
    padding: 3px 0;
    background-color: #bbb;
    font-size: 14px;
    font-style: italic;
}
.github {
    padding-top: 10px;
    font-size: 24px;
}
.github > a {
    text-decoration: none;
}

.github > a:active,
.github > a:visited {
    color: #000;
}
.github > a:hover {
    color: #777;
}